In [1]:
import pandas as pd

In [2]:
sd_content = ""

with open("data/all_subdomains_hsu-hh.de.txt") as f:
   sd_content = f.read()

In [3]:
raw_col = []
for line in sd_content.split("\n"):
    temp_line = line.split(" ")
    domainname = temp_line[0]
    try:
        ips = temp_line[1]
    except:
        ips = ""
    raw_col.append({"domainname":domainname,
                    "ips":ips.split(",")})
    
df = pd.DataFrame(raw_col)

In [4]:
df.explode("ips")

                        domainname             ips
0           autodiscover.hsu-hh.de     139.11.9.20
1             autoconfig.hsu-hh.de     139.11.6.20
2                  fueak.hsu-hh.de   139.11.81.160
3               meetings.hsu-hh.de    139.11.11.50
4                 campus.hsu-hh.de     139.11.9.55
..                             ...             ...
409  wiki-jenkinsmail.ub.hsu-hh.de  23.217.138.108
410             wpgna.ub.hsu-hh.de  23.217.138.108
410             wpgna.ub.hsu-hh.de  23.202.231.167
411         ads2.library.hsu-hh.de   139.11.40.133
412

[480 rows x 2 columns]